
*.db
*.pyc
*.sqlite3
*.log

# dependencies
node_modules/
venv/
virtual-env/

.env
.vscode

__pycache__/

/*/**/migrations/[0-9]*_*.py
backend/[0-9]*_*.py

MEDIA_FILES/
media/
build/
fake_objects/

*doc.md
