#composePost {
    gap: 0.5rem;
}

#composePost #inputField {
    font-size: 0.75rem;
}

.fade_out {
    animation: fade-out 200ms ease-out 1 forwards;
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.3);
    }
}

@media (min-width: 600px) {
    #composePost {
        gap: 2rem;
    }
    #composePost #inputField {
        font-size: 1rem;
    }
}

@media (max-width: 385px) {
    .post__interactions .interact .icon-wrapper + span {
        display: none;
    }
}

.post__interactions .liked__by__users {
    margin-bottom: 2rem;
}

.post__interactions .liked__by__users .user {
    cursor: pointer;
}

.post__interactions .liked__by__users .user img {
    border: 1px solid #999;
    object-fit: fill;
}

.post__interactions .liked__by__users .user:nth-child(1) {
    left: 0%;
}
.post__interactions .liked__by__users .user:nth-child(2) {
    left: 20px;
}
.post__interactions .liked__by__users .user:nth-child(3) {
    left: 40px;
}
.post__interactions .liked__by__users .user:nth-child(4) {
    left: 60px;
}
.post__interactions .liked__by__users .user:nth-child(5) {
    left: 80px;
}
.post__interactions .liked__by__users .user:nth-child(6) {
    left: 100px;
}

.post__interactions {
    display: flex;
    flex-flow: column;
}

.post__interactions .recent__likes .__text {
    font-size: 0.7rem;
    color: grey;
}

/* .dark-mode .post__interactions .interact .icon-wrapper:hover svg {
	fill: #eee;
}
.light-mode .post__interactions .interact .icon-wrapper:hover svg {
	fill: teal;
} */

/* Posts paginator */

.paginators > span {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 2px;
}

.paginators svg {
    aspect-ratio: 2;
    border-radius: 100%;
    background-color: gainsboro;
    width: 2.5rem;
}

@media (max-width: 500px) {
    .paginators {
        display: none;
    }
}

.cought-up {
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: alias;
}

/* ! POST COMMENTS */

.comment__group {
}
.comment__group .comment__author {
    min-width: fit-content;
    margin-right: 2px;
}

.comment__group .parent_comment {
}

.comment__group .parent__comment .comment__author {
}
.comment__group .child__comment {
    margin-left: 3rem;
}
.comment__group .child__comment .comment__author {
}

@media (max-width: 600px) {
    .comment__group .comment__author img {
        width: 25px;
        height: 25px;
    }

    .comment__group .card {
        padding: 0.25rem 0.4rem;
    }
    .comment__group .child__comment {
        margin-left: 2rem;
    }
    .comment__group .time__data {
        font-size: 0.8rem;
    }

    .comment__group .card p {
        font-weight: lighter;
        font-size: 0.8rem;
    }
}

/* ? postDetail */

@media (min-width: 650px) {
    #postDetail {
        flex-wrap: nowrap;
    }
}

/* comments */
