/* CreatePost JSX */

.create__post__container {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 65px;
    left: 0;
    width: 100vw;
    height: 101vh;
    display: flex;
    justify-content: center;
}

.post__form__body__image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-height: 350px;

    overflow: hidden;
    overflow-y: auto;
}

.cursor-pointer > * {
    cursor: pointer;
}
.cursor-pointer > * > * {
    cursor: pointer;
}

@media (max-width: 600px) {
    .create__post__container {
        padding-top: 1rem;
    }
    .create__post__container .post__modal {
        width: 550px;
        min-height: fit-content;
        max-height: 500px;
        overflow: auto;
    }
}
/* .create__post__container .post__modal textarea[name=excerpt], */
/* .create__post__container .post__modal textarea[name='excerpt'] {
	box-shadow: none;
}
.create__post__container .post__modal textarea[name='excerpt']:focus {
	box-shadow: 0 0 0 2px var(--onBackgroundColorMuted--);
} */

/*  */

/* .selected-file .file {
	max-height: 65vh;
	overflow: hidden;
	overflow-y: auto;
	min-height: fit-content;
	position: relative;
} */

/* Preview */

.preview-field {
    border: none;
    outline: none;
    box-shadow: none;
    padding: 5px 0;
}

.preview-field:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
