.code__field {
    display: flex;
    justify-content: center;
}

.code__field input {
    outline: none;
    border: 2px solid rgb(4, 140, 140);
    text-align: center;
    letter-spacing: 5px;
    max-width: 150px !important;
    font-size: 1.3rem;
    transition: padding 0.2s ease-in-out, color 0.2s ease-in-out;
    padding: 0.35rem 0;
}

.code__field input:focus {
    padding: 0.5rem 0;
    border-color: rgb(6, 193, 193);
}
.code__field input::placeholder {
    font-size: large;
}

.code__field input {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.code__field input::-webkit-inner-spin-button,
.code__field input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
